stages:
  - build
  - docker

build-job:
  stage: build
  image: node:20
  script:
    - npm ci
    - npm test

docker-job:
  stage: docker
  image: docker:24
  services:
    - docker:dind
  variables:
    DOCKER_DRIVER: overlay2
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
  script:
    - docker build -t registry.gitlab.com/Blooz231/projet:latest .
    - docker push registry.gitlab.com/Blooz231/projet:latest
